[package]
name = "cincinnati"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]
edition = "2018"

[dependencies]
actix-web = "^4.0.0-beta.5"
commons = { path = "../commons" }
custom_debug_derive = "^0.5"
daggy = { version = "^0.7.0", features = [ "serde-1" ] }
env_logger = "^0.8"
futures = "0.3"
lazy_static = "^1.2.0"
log = "^0.4.3"
prometheus = "0.12"
protobuf = "2.20.0"
quay = { path = "../quay" }
regex = "^1.5.4"
reqwest = { version = "^0.11", features = ["gzip"] }
serde = "1.0.126"
serde_derive = "1.0.70"
serde_json = "^1.0.22"
smart-default = "^0.6"
tokio = { version = "1.8", features = [ "time", "fs", "macros", "rt-multi-thread" ] }
tokio-stream = { version = "0.1", features = ["fs"] }
toml = "^0.5"
url = "^2.2"
semver = { version = "^0.11", features = [ "serde" ] }
async-trait = "^0.1"
tempfile = "^3.1.0"
flate2 = "^1.0.1"
tar = "^0.4.35"
dkregistry = { git = "https://github.com/camallo/dkregistry-rs.git", rev = "854d0da53bef5dd85b5e901123e85d43af97c74e" }
itertools = "^0.10"
serde_yaml = "^0.8.11"
prettydiff = { version = "0.5", optional = true }
opentelemetry = "0.14.0"
strum = "^0.21"
strum_macros = "^0.21"
walkdir = "2.3.1"
bytes = "^1.0"
pgp = "^0.7.1"
hamcrest2 = "0.3.0"

[dev-dependencies]
mockito = "^0.30.0"
serde_json = "1.0.22"
memchr = "^2.4"
pretty_assertions = "0.7.2"
test-case = "1.2.0"
prettydiff = "0.5"

[build-dependencies]
protoc-rust = "2.24"

[features]
codegen-protoc = []
test-net = []
test-net-private = []
# Used on a few implementations which shall not be used in non-test code
test = [ "prettydiff" ]
