[package]
name = "cincinnati"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]

[dependencies]
daggy = { version = "^0.6.0", features = [ "serde-1" ] }
failure = "^0.1.1"
semver = { version = "^0.9.0", features = [ "serde" ] }
serde = "1.0.70"
serde_derive = "1.0.70"

[dev-dependencies]
serde_json = "1.0.22"
