[package]
name = "policy-engine"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]
edition = "2018"
build = "src/build.rs"

[dependencies]
actix = "0.12.0"
actix-cors = "^0.6.0-beta.2"
actix-web = "^4.0.0-beta.9"
cincinnati = { path = "../cincinnati" }
commons = { path = "../commons" }
env_logger = "^0.9"
futures = "^0.3"
hyper = "^0.14"
lazy_static = "^1.2.0"
log = "^0.4.3"
openapiv3 = "0.5"
prometheus = "0.13"
semver = { version = "^0.11", features = [ "serde" ] }
serde = "^1.0.130"
serde_derive = "^1.0.70"
serde_json = "^1.0.68"
smart-default = "^0.6"
structopt = "^0.3"
toml = "^0.5"
url = "^2.2"
tempfile = "^3.1.0"
custom_debug_derive = "^0.5"
opentelemetry = "0.14.0"
actix-service = "2.0.0"

[build-dependencies]
built = { version = "^0.5.1", features = [ "git2" ]}

[dev-dependencies]
tokio = { version = "1.12", features = [ "rt-multi-thread" ] }
memchr = "^2.4"
mockito = "^0.30.0"
