[package]
name = "graph-builder"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]
edition = "2018"
build = "src/build.rs"

[dependencies]
actix = "^0.8.3"
actix-web = "^1.0.2"
chrono = "^0.4.7"
cincinnati = { path = "../cincinnati" }
commons = { path = "../commons" }
dkregistry = { git = "https://github.com/camallo/dkregistry-rs.git", rev = "838947c22c3d434ab3176e9b4bae127e8ea670ce" }
env_logger = "^0.6.0"
failure = "^0.1.1"
flate2 = "^1.0.1"
futures = "0.1"
itertools = "^0.7.8"
lazy_static = "^1.2.0"
log = "^0.4.3"
prometheus = { git = "https://github.com/pingcap/rust-prometheus.git", rev = "6a02b0d2943f8fffce672e236e22c6f925184d93"}
quay = { path = "../quay" }
regex = "^1.1.0"
reqwest = "^0.9.0"
semver = { version = "^0.9.0", features = [ "serde" ] }
serde = "^1.0.70"
serde_derive = "^1.0.70"
serde_json = "^1.0.22"
smart-default = "^0.5.1"
structopt = "^0.2.10"
tar = "^0.4.16"
tokio = "0.1"
toml = "^0.4.10"
url = "^1.7.2"
parking_lot = "^0.8.0"
tempfile = "^3.1.0"

[build-dependencies]
built = "^0.3.2"

[dev-dependencies]
twoway = "^0.2"

[features]
test-net = []
test-net-private = []
