[package]
name = "graph-builder"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]

[dependencies]
actix-web = "^0.7.8"
cincinnati = { path = "../cincinnati" }
env_logger = "^0.5.10"
itertools = "^0.7.8"
failure = "^0.1.1"
flate2 = "^1.0.1"
log = "^0.4.3"
reqwest = "^0.9.0"
semver = { version = "^0.9.0", features = [ "serde" ] }
serde = "^1.0.70"
serde_derive = "^1.0.70"
serde_json = "^1.0.22"
structopt = "^0.2.10"
tar = "^0.4.16"
dkregistry = { git = "https://github.com/camallo/dkregistry-rs.git", rev = "b6573b0e2c18da6f1e50ebfc1a0d6b7ec3c8accf" }
tokio-core = "0.1"
tokio = "0.1"
futures = "0.1"
