[package]
name = "graph-builder"
version = "0.1.0"
authors = ["Alex Crawford <crawford@redhat.com>"]
edition = "2018"
build = "src/build.rs"

[dependencies]
actix = "0.11.0-beta.1"
actix-web = "^4.0.0-beta.3"
chrono = "^0.4.7"
cincinnati = { path = "../cincinnati" }
commons = { path = "../commons" }
env_logger = "^0.8"
flate2 = "^1.0.1"
futures = "0.3"
itertools = "^0.10"
lazy_static = "^1.2.0"
log = "^0.4.3"
prometheus = "0.12"
quay = { path = "../quay" }
regex = "^1.5.4"
reqwest = "^0.11"
semver = { version = "^0.11", features = [ "serde" ] }
serde = "^1.0.70"
serde_derive = "^1.0.70"
serde_json = "^1.0.22"
smart-default = "^0.6"
structopt = "^0.3"
tar = "^0.4.16"
tokio = { version = "1.5", features = [ "fs",  "rt-multi-thread" ] }
tokio-stream = { version = "0.1", features = ["fs"] }
toml = "^0.5"
url = "^2.2"
parking_lot = "^0.11"
tempfile = "^3.1.0"
async-trait = "^0.1"
custom_debug_derive = "^0.5"
opentelemetry = "0.4.0"
actix-service = "2.0.0-beta.4"

[build-dependencies]
built = { version = "^0.5.0", features = [ "git2" ]}

[dev-dependencies]
twoway = "^0.2"

[features]
test-net = []
test-net-private = []
